<launch>

<!--////////////////////////////////////////////////////////////////////////////// -->
<!--/////////////////////////////////NO MOVER///////////////////////////////////// -->
<!--////////////////////////////////////////////////////////////////////////////// -->

  <!-- Debug flag -->
  <arg name="debug" default="0"/>

  <!-- Vehicle's initial pose -->
  <arg name="x"     default="0"/>
  <arg name="y"     default="10"/>
  <arg name="z"     default="-55"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="0"/>

  <arg name="use_geodetic" default="false"/>
  <arg name="latitude" default="0"/>
  <arg name="longitude" default="0"/>
  <arg name="depth" default="0"/>

  <arg name="latitude_ref" default="0"/>
  <arg name="longitude_ref" default="0"/>
  <arg name="altitude_ref" default="0"/>

  <arg name="mode" default="vtec_u3_default"/>
  <!-- Vehicle's namespace -->
  <arg name="namespace" default="vtec_u3"/>
  <arg name="world_frame" default="world"/>

  <group ns="$(arg namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find vtec_u3_description)/robots/$(arg mode).xacro' debug:=$(arg debug) namespace:=$(arg namespace)" />
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/robot_description"/>
    <!-- A joint state publisher plugin already is started with the model, no need to use the default joint state publisher -->
    <!-- Publish robot model for ROS -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/$(arg namespace)/robot_description" />
    </node> 
  </group> 

    <!-- Enable camera gazebo plugin-->
  <include file="$(find realsense_gazebo_plugin)/launch/depth_procfront.launch">
  </include>

  <!-- check if you are simulating robot with gazebo -->
  <arg name="gazebo" default="false"/>
  <group unless="$(arg gazebo)">
  </group>

<!--////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////INICIA AQUI/////////////////////////////////////// -->
<!--////////////////////////////////////////////////////////////////////////////// -->

<!-- Despliega los 5 props en gazebo, toma el siguiente ejemplo para llenar los demas-->

  <!--Se inicializa el grupo path_marker, este desplegara el prop en gazebo. --> 
  <group ns="Pathmarker">
  <!--Se utiliza un parametro (como una variable) llamado <<robot_description>>
  donde se encuentra el path al archivo.xacro que le corresponde--> 
    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find sim_challenges)/urdf/pathmarker.xacro' "/> 
    <!--Se inicializa el nodo especial para desplegar cosas en Gazebo, este viene del
    pkg <<gazebo_ros>> que venia con la instalacion de ros, el nombre del nodo se define
    como <<spawn_urdf>> y el tipo necesitado es <<spawn_model>>--> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-x 4 -y 10 -z -55 -urdf -param robot_description -model path_marker"/>
    <!--Los <<args>> son argumentos necesitados para desplegar el modelo en Gazebo, como las coordenadas
    x,y,z además de aquellas por default: -urdf -param robot_description -model <<nombre_del_prop>>--> 
  </group> 
  
  <!-- Escribe aqui: inicializa el grupo <<Gate>> con coordenadas en gazebo x=7, y=10, z=-55 -->

  <!-- Escribe aqui: inicializa el grupo <<Buoy1>> con coordenadas en gazebo x=9, y=10, z=-55 -->

  <!-- Escribe aqui: inicializa el grupo <<Buoy2>> con coordenadas en gazebo x=9, y=10, z=-55 -->

  <!-- Escribe aqui: inicializa el grupo <<Bin1>> con coordenadas en gazebo x=10, y=10, z=-59 -->

</launch>
 